__pycache__/
*.py[cod]
*.so

.DS_Store
.env
.venv/
venv/

checkpoints/
dataset/
data/
mixkit_latents_lmdb/
outputs/
runs/
logs/
eval/
wandb/
wan_models/

*.pt
*.pth
*.ckpt
*.safetensors
*.mp4
*.avi
*.mov
*.mkv
*.log

infer_config_*.yaml
